<div class="card-footer text-muted">
    <small>Submitted by &nbsp;&nbsp;<b style=color:black>{{quote.submittedBy}}</b> &nbsp;&nbsp;on
      {{quote.submissionDate|date}} ({{quote.submissionDate|dateSubmitted}} day(s) ago)]
    </small>
    <button class="btn" style="color: red;" (click)='Delete(true)'><i class="fas fa-trash-alt"></i>&nbsp;Delete
    </button>
    <button class="btn" (click)="upVote()" appHighlightVote>{{quote.upVote}}&nbsp;&nbsp;<i
        class="fas fa-thumbs-up vote"></i>
    </button>&nbsp;&nbsp;
    <button class="btn" (click)="downVote()" appHighlightVote>{{quote.downVote}}&nbsp;&nbsp;<i
          class="fas fa-thumbs-down vote"></i>
    </button>&nbsp;&nbsp;    
</div>
