<p>app works</p>
<div class="container-fluid">
    <div class="header">
      <h1 class="text-center">Quotzilla</h1>
      <p class="text-center">Be inspired...</p>
      <hr style="width: 50%;">
    </div>
    <div class="row">
      <div class="col-sm-8">
        <h3 class="text-center">Quotes of the day</h3>
        <hr style="width:50%">
        <div class="cards">
          <div class="card" *ngFor='let quote of sortQuotes let i= index'>
            <div class="card-body" appHighlightQuote *ngIf="highlightHighest() === quote.upVote && quote.upVote > 0">
              <blockquote class="blockquote mb-0">
                <p>{{quote.quote}}</p>
                <footer class="blockquote-footer"><cite title="Source Title">{{quote.author|titlecase}}</cite></footer>
                <small style="float: right;" (click)="toggleDetails(i); toggleText(i)">{{quote.smallText}}</small>
              </blockquote>
            </div>
            <div class="card-body" *ngIf="highlightHighest() !== quote.upVote || quote.upVote === 0">
              <blockquote class="blockquote mb-0">
                <p>{{quote.quote}}</p>
                <footer class="blockquote-footer"><cite title="Source Title">{{quote.author|titlecase}}</cite></footer>
                <small style="float: right;" (click)="toggleDetails(i); toggleText(i)">{{quote.smallText}}</small>
              </blockquote>
            </div> -->
            <app-quote-detail *ngIf='quote.showDetails' [quote]='quote' (deleteQuote)='quoteDeleted($event,i)'>
            </app-quote-detail> -->
          </div>
        </div> -->
        <div class = "nothingToSee text-center" *ngIf='quotes.length === 0'>
          <img src="assets/images/sad.png" style="width: 100px; height: 100px">
          <p>Oops! Nothing to see here!</p>
          <p>Fill in the form to add a quote.</p>
        </div> -->
      </div> -->
      <div class="col-sm-4">
        <h3 class="text-center">Inspire someone.</h3>
        <hr style="width:50%">
        <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
      </div> -->
    </div>
  </div>
