<div class="intro">
  <span style="text-align: center;"><i class="fa-solid fa-quote-right-5x"></i><h1 id="quotzilla">Quotzilla</h1></span>
  <span style="text-align: center;" ><h4>Inspiring people one quote after another ...</h4></span>
</div>

<div class="container">
  <div class="overlay">
    <h2 id="today">Today's top pick quotes:</h2>
    <br>
    <div class="container-fluid">
      <div class="row">
        
        <div class="col-sm-8">
          <div class="all-cards">
            <div *ngFor="let quote of appquotes let i= index" class="card" style="width: 24rem;"  >
              
              <div class="card-body"appHighlight *ngIf="highlightHighest() === quote.upVotes && quote.upVotes > 0" >
                <h4 id="cardtitle">{{quote.title}}</h4>
                <p class="card-text" id="param">{{quote.quote}}</p>
                <h6 class="card-subtitle mb-2 text-muted"> - {{quote.author}}  </h6>
                <h4 class="card-title" appHighlight ><button (click)='showDetails(i)' class="btn btn-show btn-sm" id="quotes-button" >{{isShowMore ? 'Show more': 'Show Less'}}</button></h4>
                <app-quote-detail *ngIf='quote.showDetails' bind-quote='quote' (isDelete)='quoteDelete($event,i)'></app-quote-detail>
              </div>

              <div class="card-body"*ngIf="highlightHighest() !== quote.upVotes || quote.upVotes === 0" >
                <h4 id="cardtitle">{{quote.title}}</h4>
                <p class="card-text" id="param">{{quote.quote}}</p>
                <h6 class="card-subtitle mb-2 text-muted"> - {{quote.author}}  </h6>
                <h4 class="card-title" appHighlight ><button (click)='showDetails(i)' class="btn btn-show btn-sm" id="quotes-button" style="color: aliceblue;" >{{isShowMore ? 'Show more': 'Show Less'}}</button></h4>
                <app-quote-detail *ngIf='quote.showDetails' bind-quote='quote' (isDelete)='quoteDelete($event,i)'></app-quote-detail>
              </div>
            </div>
          </div>
        </div>
        <!-- form -->
        <div class="col-sm-4">
          <app-quote-form (addQuote)="addedQuote($event)"></app-quote-form>
        </div>
      </div>
    </div>
  </div>
</div>
