<div class="intro">
  <span style="text-align: center;"><i class="fa-solid fa-quote-right-5x"></i><h1 id="quotzilla">Quotzilla</h1></span>
  <span style="text-align: center;" ><h4>Inspiring people one quote after another ...</h4></span>
</div>
<br>
<div class="container">
  <h5 style="color: #dda520; text-align: center;">A quote is a powerful tool for our mind, our soul, our spirit. A quote can sharpen your mind and give you an instant and rapid relief if your soul is down, in a dark time. </h5>
  <h6 style="color: #dda520; float: right;"> - Dotchamou Zakari</h6>
</div>
<br>

<div class="container">
  <div class="overlay">
    <h2 id="today">Top pick quotes:</h2>
    <br>
    <div class="container-fluid">
      <div class="row">
        
        <div class="col-md-8">
          <div class="all-cards">
            <div *ngFor="let quote of appquotes let i= index" class="card" style="width: 24rem;"  >
              
              <div class="card-body"appHighlight *ngIf="highlightHighest() === quote.upVotes && quote.upVotes > 0" >
                <h4 id="cardtitle">{{quote.title}}</h4>
                <p class="card-text" id="param">{{quote.quote}}</p>
                <h6 class="card-subtitle mb-2 text-muted"> - {{quote.author}}  </h6>
                <h4 class="card-title" appHighlight ><button (click)='showDetails(i)' class="btn btn-show btn-sm" id="quotes-button" >{{isShowMore ? 'Show more': 'Show Less'}}</button></h4>
                <app-quote-detail *ngIf='quote.showDetails' bind-quote='quote' (isDelete)='quoteDelete($event,i)'></app-quote-detail>
              </div>

              <div class="card-body"*ngIf="highlightHighest() !== quote.upVotes || quote.upVotes === 0" >
                <h4 id="cardtitle">{{quote.title}}</h4>
                <p class="card-text" id="param">{{quote.quote}}</p>
                <h6 class="card-subtitle mb-2 text-muted"> - {{quote.author}}  </h6>
                <h4 class="card-title" appHighlight ><button (click)='showDetails(i)' class="btn btn-show btn-sm" id="quotes-button" style="color: aliceblue;" >{{isShowMore ? 'Show more': 'Show Less'}}</button></h4>
                <app-quote-detail *ngIf='quote.showDetails' bind-quote='quote' (isDelete)='quoteDelete($event,i)'></app-quote-detail>
              </div>
            </div>
          </div>
        </div>
        <!-- form -->
        <div class="col-md-4">
          <app-quote-form (addQuote)="addedQuote($event)"></app-quote-form>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="ff">
  <div class="container p-4 pb-0">
    <form action="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-auto mb-4 mb-md-0">
          <p class="pt-2">
            <strong style=" color: #001d49;">Sign up to recieve daily quotes</strong>
          </p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-5 col-12 mb-4 mb-md-0">
          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="email" id="form5Example25" class="form-control" />
            <label class="form-label" for="form5Example25" style="color: #001d49;">Email address</label>
          </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-auto mb-4 mb-md-0">
          <!-- Submit button -->
          <button type="submit" class="btn btn-sign mb-4">
            Subscribe
          </button>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </form>
  </div>
  <div class="footer-content">
    <h1 style="color: #001d49;">QUOTZILLA</h1>
    <!-- <p>This is a pizza placeLorem ipsum dolor sit amet consectetur, adipisicing elit. Quam maxime eius expedita reiciendis in, beatae aliquam repudiandae molestias ad quod odio, architec</p> -->
    <div class="social-links">
      <a href="#"><i class="fa fa-facebook-f"></i></a> &nbsp;
      <a href="#"><i class="fa fa-twitter"></i></a>  &nbsp;
      <a href="#"><i class="fa fa-instagram"></i></a>  &nbsp;
      <a href="#"><i class="fa fa-pinterest-p"></i></a>  &nbsp;
      <!-- <a href="#"><i class="fa fa-linkedin"></i></a> -->
     
    </div>
    <p style="color: #001d49;">© 2022 Copyright</p>
    

  </div>
<footer>
