<div class="formsy">
<div class="container-fluid">
  <h2 class="header">Add quote</h2>
  <br>
    <form (ngSubmit)='submitQuote() ;quotesForm.resetForm({})' #quotesForm='ngForm'>
        <div class="form-group">
          <label for="quote">Quote title</label>
          <input type="text" class="form-control" required minlength="4" id="title" [(ngModel)]="newQuote.title" name="title" #title='ngModel' required>
           <!-- validating -->
              <div *ngIf="title.invalid && (title.dirty || title.touched)"class="alert">
                <div *ngIf="title.errors?.['required']">
                  Name is required.
                </div>
                <div *ngIf="title.errors?.['minlength']">
                  Name must be at least 3 characters long.
                </div>
              </div>
       </div>
        <br>
        <div class="form-group">
          <label for="description">Quote</label>
          <textarea class="form-control" required minlength="4"  id="quote" rows="8" [(ngModel)]="newQuote.quote" name="quote" #quote='ngModel' required></textarea>
         <!-- validating -->
            <div *ngIf="quote.invalid && (quote.dirty || quote.touched)"class="alert">
              <div *ngIf="quote.errors?.['required']">
              Quote is required.
              </div>
              <div *ngIf="quote.errors?.['minlength']">
                Quote must be at least 4 characters long.
              </div>

            </div>
        </div>
        <br>
        <div class="form-group">
          <label for="name">Quote Author</label>
          <input type="text" class="form-control" required minlength="4" id="author"[(ngModel)]="newQuote.author" name="author" #author='ngModel' required>
              <!-- validating -->
            <div *ngIf="author.invalid && (author.dirty || author.touched)"class="alert">
              <div *ngIf="author.errors?.['required']">
              Quote is required.
              </div>
              <div *ngIf="author.errors?.['minlength']">
                Quote must be at least 3 characters long.
              </div>

            </div>
        </div>
        <br>
        <div class="form-group">
          <label for="submitter">Posted by:</label>
          <input type="text" class="form-control" required minlength="4" id="submitter" [(ngModel)]="newQuote.submitter" name="name" #submitter='ngModel'required>
                 <!-- validating -->
            <div *ngIf="submitter.invalid && (submitter.dirty || submitter.touched)"class="alert">
              <div *ngIf="submitter.errors?.['required']">
              Quote is required.
              </div>
              <div *ngIf="submitter.errors?.['minlength']">
                Quote must be at least 3 characters long.
              </div>

            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-sm ">Add Quote</button>
    </form>
  </div>
</div>
