.header{
    color: white;
    text-align: left;
    padding-top: 2%;
}
.form-control{
    color: white;
    background: transparent;
    font-weight: 570;
}
label{
    color: white;
}
.btn{
    color: white;
    background: transparent;
    font-weight: 570;
    border-color: white;
}