.header{
    color: white;
    text-align: left;
    padding-top: 2%;
}
.form-control{
    color: white;
    background: transparent;
    font-weight: 570;
}
label{
    color: white;
}
.btn{
    color: white;
    background-color: #daa520 ;
    border-color: #daa520;
    font-weight: 570;
    
}
.container-fluid{
    background-color: rgba(0, 0, 0, 0.4);
    padding-bottom: 5%;
    box-shadow: 2px 2px 3px 2px black;
    margin-bottom: 5%;
    margin-right: 5%;
   
}
.formsy{
    margin-right: 35px;
}