
   
<div class="container-fluid">
    <h2 class="heading">Add Quote</h2>
    <!-- <hr> -->
    <form (ngSubmit)='submitQuote() ;quotesForm.resetForm({})' #quotesForm='ngForm'>
       
        <div class="form-group">
          <label for="quote">Quote Tittle</label>
          <input type="text" required class="form-control" id="title" [(ngModel)]="newQuote.title" name="title" #title='ngModel'>
          
        </div>
        <div class="form-group">
          <label for="description">Quote</label>
          <textarea class="form-control" id="quote" rows="2" required [(ngModel)]="newQuote.quote" name="quote" #quote='ngModel'></textarea>
         
        </div>
        <div class="form-group">
          <label for="name">Quote Author</label>
          <input type="text" required class="form-control" id="author"[(ngModel)]="newQuote.author" name="author" #author='ngModel'>
         
        </div>
        <div class="form-group">
          <label for="submitter">Posted by:</label>
          <input type="text" required class="form-control" id="submitter" [(ngModel)]="newQuote.submitter" name="name" #submiter='ngModel' >
           
        </div>
        <button type="submit" class="btn btn-sm btn-success">Add Quote</button>
    </form>
  </div>
